rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /markers/{allPaths=**} {
      allow write: if request.resource.contentType.matches('application/json') && request.resource.name.matches('markers/[a-z]{2}.json');
    }
    match /{allPaths=**} {
      allow read: if true;
    }
  }
}
